<a href="https://colab.research.google.com/github/syedqudus4/Data-Science/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("This is my first code from the University of Bahamas")
print("I am a good man")

This is my first code from the University of Bahamas
I am a good man

In [3]:
X=4.0
print(X)

4.0

In [4]:
x = 4.0
print(type(x))

<class 'float'>

In [11]:
x = 3
y = 5

print(x+y) #8
print(x-y) #2
print(x*y) #15
print(x/y) #1.666
print(x//y) #1
print(x**y) #125

8
-2
15
0.6
0
243

In [12]:
a = 10
b = 2
result1 = a ** b

a = 1.5
b = 2.5
result2 = a ** b

a = 3 + 2j
b = 3 + 5j
result3 = a ** b

print(result1)
print(result2)
print(result3)

100
2.7556759606310752
(-0.7851059645317211+2.350232331971346j)